/* -----------------------------------------------
    Fichier CSS
----------------------------------------------- */

body {
    min-height: 100vh;
    background: #1C8ADB;
}

a {
    color: #FFF;
}

a:hover {
    color: #FFF;
}